<h1>Physicians#show</h1>

<p>Name:<%= @physician.name %> </p>
<p>Age :<%= @physician.age %></p>
<p>Experience: <%= @physician.expeeriance %></p>

<%= link_to '<button>BACK</button>'.html_safe, physicians_path%>

